* {
 font-size: 100%;
 font-family: Verdana, Arial, Times New Roman;
}

h1 {
 text-align: center;
 text-transform: uppercase;
 font-size: 30px;
 color: DodgerBlue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  opacity: 0.8;
}
