* {
 font-size: 100%;
 font-family: Verdana, Arial, Times New Roman;
}

h1 {
 text-align: center;
 text-transform: uppercase;
 font-size: 30px;
 color: white;
}

div.background {
  /* The image used */
  background-image: url("/img/kerk_vorchten.JPG");
  opacity: 0.8;

  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  display: block;
  padding: 10px 50px 25px;
}
