* {
 font-size: 100%;
 font-family: Verdana, Arial, Times New Roman;
}

body {
  margin: 0;
}

h1 {
 text-align: center;
 text-transform: uppercase;
 font-size: 20px;
 color: white;
}

.banner {
  background-image: url("/img/kerk_vorchten.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding:60px 0;
  opacity: 0.8;
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
}

div {
  display: block;
  margin: 0 auto; 
  width: 100%;
  padding: 10px 50px 25px;
}